<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head"></head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark-green">
    <a class="navbar-brand" href="#">Work Timer</a>
</nav>
<div class="container">
    <!--/*@thymesVar id="user" type="com.osadchuk.worktimerserver.model.dto.UserDTO"*/-->
    <div class="row" style="padding-top: 10px; font-size: 10pt">
        <div align="center" class="col-lg-6 centered-horizontally">
            <div th:if="${successMessage}" class="alert alert-success" role="alert"
                 th:text="${successMessage}"></div>

            <div th:if="${errorMessage}" class="alert alert-danger" role="alert"
                 th:text="${errorMessage}"></div>
            <h3>Password Recovery</h3>
            <form align="left" action="/forgotPassword" method="POST">
                <fieldset>
                    <div class="form-group">
                        <input id="username" type="text" class="form-control input-lg" th:name="username" placeholder="Username" required="required"/>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-lg btn-success btn-block" value="Send Token"/>
                    </div>
                </fieldset>
            </form>
            <a th:if="${successMessage}" href="/login" class="btn btn-lg btn-outline-success btn-block">Login</a>
        </div>
    </div>
</div>
</body>
</html>