<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head"></head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark-green">
    <a class="navbar-brand" href="#">Work Timer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users">Users</a>
            </li>
            <!--<li class="nav-item">
                <a class="nav-link" href="#">Tasks</a>
            </li>-->
            <li class="nav-item">
                <a class="nav-link" href="/screenReporting">Screen Reporting</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log Out</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row" style="padding-top: 25px">
        <form action="/home/timeByDate" method="get" style="margin: auto">
            <label for="user">User:</label>
            <select id="user" name="username">
                <option name="username" th:text="'All users'" th:value="'*'" th:selected="${'*' == username}"></option>
                <option name="username" th:each="u : ${users}" th:selected="${u.username == username}"
                        th:text="${u.firstName + ' ' + u.lastName}" th:value="${u.username}"></option>
            </select>
            <label for="startTime">From:</label>
            <input id="startTime" name="startTime" th:value="${startTime}" type="date"/>
            <label>To:</label>
            <input id="endTime" name="endTime" th:value="${endTime}" type="date"/>
            <input class="btn btn-success" type="submit" value="Calculate"/>
        </form>
        <button class="btn btn-outline-success" id="downloadGlobalReportButton">Download Global Report</button>
        <button class="btn btn-outline-success" id="downloadDetailReportButton">Download Detail Report</button>
    </div>
    <div class="row" style="margin-top: 5px">
        <!--/*@thymesVar id="usersTime" type="List<com.osadchuk.worktimerserver.model.UserTime>"*/-->
        <div class="alert alert-danger" role="alert" style="margin: auto" th:if="${errorMessage}"
             th:text="${errorMessage}"></div>
        <table class="table table-striped" th:if="${usersTime != null && !usersTime.isEmpty()}">
            <thead class="bg-dark-green" style="color: white">
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Full name</th>
                <th scope="col">Logged time</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="userTime : ${usersTime}">
                <td th:text="${userTime.username}"></td>
                <td th:text="${userTime.fullName}"></td>
                <td th:text="${userTime.getFormattedLoggedTime()}"></td>
            </tbody>
        </table>
    </div>
</div>
<script th:src="@{/js/home.js}" type="text/javascript"></script>
</body>
</html>