<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head.html :: head"></head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark-green">
    <a class="navbar-brand" href="#">Work Timer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                <a class="nav-link" href="/users">Users</a>
            </li>
            <!--<li class="nav-item">
                <a class="nav-link" href="#">Tasks</a>
            </li>-->
            <li class="nav-item">
                <a class="nav-link" href="/screenReporting" sec:authorize="hasAuthority('ADMIN')">Screen Reporting</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item" sec:authorize="hasAuthority('APP_ADMIN')">
                <a class="nav-link" href="/settings">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log Out</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <!--/*@thymesVar id="user" type="com.osadchuk.worktimerserver.model.dto.UserDTO"*/-->
    <div class="row" style="padding-top: 10px; font-size: 10pt">
        <div align="center" class="col-lg-6 centered-horizontally">
            <h3 th:text="'Profile Settings | ' + ${user.username}"></h3>
            <form align="left" action="/profile" th:object="${user}" th:name="user" method="POST">
                <fieldset>
                    <div th:if="${successMessage}" class="alert alert-success" role="alert"
                         th:text="${successMessage}"></div>

                    <div th:if="${errorMessage}" class="alert alert-danger" role="alert"
                         th:text="${errorMessage}"></div>

                    <div class="form-group">
                        <input type="text" class="form-control input-lg" th:field="*{username}"
                               placeholder="Username" required="required" hidden="hidden"/>
                    </div>

                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input id="firstName" type="text" class="form-control input-lg" th:field="*{firstName}"
                               placeholder="First Name" required="required"/>
                        <p th:each="error: ${#fields.errors('firstName')}"
                           th:text="${error}">Validation error</p>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input id="lastName" type="text" class="form-control input-lg" th:field="*{lastName}"
                               placeholder="Last Name" required="required"/>
                        <p th:each="error: ${#fields.errors('lastName')}"
                           th:text="${error}">Validation error</p>
                    </div>
                    <div class="form-group">
                        <label for="phoneNumber">Phone Number</label>
                        <input id="phoneNumber" type="text" class="form-control input-lg" th:field="*{phoneNumber}"
                               placeholder="Phone Number" required="required"/>
                        <p th:each="error: ${#fields.errors('phoneNumber')}"
                           th:text="${error}">Validation error</p>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input id="password" type="password" class="form-control input-lg" th:field="*{password}"
                               placeholder="Password"/>
                        <p th:each="error: ${#fields.errors('password')}"
                           th:text="${error}">Validation error</p>
                    </div>
                    <div class="form-group">
                        <label for="newPassword">New password (optional)</label>
                        <input id="newPassword" type="password" class="form-control input-lg" th:field="*{newPassword}"
                               placeholder="New password"/>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Confirm new password</label>
                        <input id="confirmPassword" type="password" class="form-control input-lg"
                               th:field="*{confirmPassword}"
                               placeholder="Confirm password"/>
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-lg btn-success btn-block" value="Update"/>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>