<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head.html :: head"></head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark-green">
    <a class="navbar-brand" href="#">Work Timer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                <a class="nav-link" href="/users">Users</a>
            </li>
            <!--<li class="nav-item">
                <a class="nav-link" href="#">Tasks</a>
            </li>-->
            <li class="nav-item">
                <a class="nav-link" href="/screenReporting">Screen Reporting</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item active" sec:authorize="hasAuthority('ADMIN')">
                <a class="nav-link" href="/settings">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log Out</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <!--/*@thymesVar id="settings" type="com.osadchuk.worktimerserver.model.ApplicationSettings"*/-->
    <div class="row" style="padding-top: 10px; font-size: 10pt">
        <div align="center" class="col-lg-6 centered-horizontally">
            <h3>Application Settings</h3>
            <form align="left" action="/settings" th:object="${settings}" th:name="settings" method="POST">
                <fieldset>
                    <div class="form-group">
                        <label for="screenshotStorageTime">Screenshot Storage Time (days)</label>
                        <input id="screenshotStorageTime" type="number" min="1" class="form-control input-lg" th:field="*{screenshotStorageTime}"
                               placeholder="Amount Of Days" required="required"/>
                        <p th:each="error: ${#fields.errors('screenshotStorageTime')}"
                           th:text="${error}">Validation error</p>

                        <label for="twilioAccountSID">Twilio Account SID</label>
                        <input id="twilioAccountSID" type="text" min="1" class="form-control input-lg" th:field="*{twilioAccountSID}"
                               placeholder="Twilio Account SID" required="required"/>
                        <p th:each="error: ${#fields.errors('twilioAccountSID')}"
                           th:text="${error}">Validation error</p>

                        <label for="twilioAuthToken">Twilio Auth Token</label>
                        <input id="twilioAuthToken" type="text" min="1" class="form-control input-lg" th:field="*{twilioAuthToken}"
                               placeholder="Twilio Auth Token" required="required"/>
                        <p th:each="error: ${#fields.errors('twilioAuthToken')}"
                           th:text="${error}">Validation error</p>

                        <label for="twilioPhoneNumber">Twilio Phone Number</label>
                        <input id="twilioPhoneNumber" type="text" min="1" class="form-control input-lg" th:field="*{twilioPhoneNumber}"
                               placeholder="Twilio Phone Number" required="required"/>
                        <p th:each="error: ${#fields.errors('twilioPhoneNumber')}"
                           th:text="${error}">Validation error</p>
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-lg btn-success btn-block" value="Update"/>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>