<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head"></head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark-green">
    <a class="navbar-brand" href="#">Work Timer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/users">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Tasks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Screen Reporting</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log Out</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row" style="padding-top: 10px;">
        <!--/*@thymesVar id="user" type="com.osadchuk.worktimerserver.model.dto.UserDTO"*/-->
        <div align="center" class="col-lg-8 centered-horizontally">
            <h3 style="margin: auto; padding-bottom: 10px;">Users</h3>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Find User</span>
                </div>
                <input id="filterInput" type="text" class="form-control" placeholder="Filter" aria-label="Username" aria-describedby="basic-addon1">
                <div class="input-group-append">
                    <button id="searchButton" class="btn btn-outline-success" type="button">Search</button>
                </div>
            </div>
            <div id="foundUsersDiv"></div>
        </div>
        <div align="center" class="col-lg-4 centered-horizontally">
            <div id="addUserDiv" th:replace="fragments/usersFragments :: addUser"></div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/users.js}"></script>
</body>
</html>